<p id="notice"><%= notice %></p>

<p>
  <strong>Text1:</strong>
  <%= @admins_writing_information.text1 %>
</p>

<p>
  <strong>Text2:</strong>
  <%= @admins_writing_information.text2 %>
</p>
<p>
  <strong>Text3:</strong>
  <%= @admins_writing_information.text3 %>
</p>

<p>
  <strong>Text4:</strong>
  <%= @admins_writing_information.text4 %>
</p>
<p>
  <strong>Text1:</strong>
  <%= @admins_writing_information.text5 %>
</p>

<p>
  <strong>Text2:</strong>
  <%= @admins_writing_information.text6 %>
</p>

<%= link_to 'Edit', edit_admins_writing_information_path(@admins_writing_information) %> |
<%= link_to 'Back', admins_writing_informations_path %>
