
<body style=" background-color: #171515;">
<%= javascript_include_tag 'application' %>
<div id="content">
  <div id="page1" class="page">
    <div id=log><%= @logs %></div>  
  </div>
 
  <div id="page2" class="page">
    <div id="back" style="word-break: break-all; font-size: 20px; color: #D3D3D3; z-index: -1; position:absolute;font-family: Times New Roman;"> </div>
    <br>
    <br>
    <p style="text-align: center;"><span style="font-size: 30px;background-color: white; color: black; text-align: center;font-family: 'Lucida Console', 'Courier New', monospace;position:relative; z-index: 1;">Créations</span></p>
     <% var = 0 
        ary = Array.new 
     %>
     <br>
     <br>
     <br>
     <br>
            <div class="slideshow-container">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <% @writing_definitions.each do |writing_def| %>
                    <% if (writing_def.writing_images.last.present? and not(ary.include?(writing_def.writing_images.last.image.id)))%>
                        <div class="mySlides fade2">
                            <div class="container w-i">
                                <%=image_tag (writing_def.writing_images.last.image), :size => "750x525" %>
                                    <% @writing_definitions.each do |writing_def2| %>
                                        <% if (writing_def2.writing_images.last.present? and writing_def.writing_images.last.image.id == writing_def2.writing_images.last.image.id)%>
                                            <div class="w-d"; 
                                                style=
                                                "margin-left: <%=writing_def2.x.present? && writing_def2.x != 0 ? ((writing_def2.x*750).to_s + "px") : "0px"%>;
                                                margin-top: <%=writing_def2.y.present? && writing_def2.y != 0 ? ((writing_def2.y*525).to_s + "px") : "0px"%>;
                                                width: <%=writing_def2.w.present? && writing_def2.w != 0 ? ((writing_def2.w*750).to_s + "px") : "auto"%>;
                                                height: <%=writing_def2.h.present? && writing_def2.h != 0 ? ((writing_def2.h*525).to_s + "px") : "auto"%>;
                                                font-size: <%=writing_def2.font_size.present? && writing_def2.font_size != 0 ? ((writing_def2.font_size*750/1000).to_s + "px") : "auto"%>;
                                                font-family: <%=writing_def2.font_family.to_s%>;
                                                z-index: <%= var %>;"
                                                >
                                                <%= writing_def2.body %>
                                                <% var+=1 %>
                                                </div>
                                        <br>
                                        <br>

                                    <% end %>
                                <% end %>
                            </div>
                         </div>
                    <% ary.push(writing_def.writing_images.last.image.id) %> 
                  <% end %>

                <% end %>

            
        </div>

            <!-- Full-width images with number and caption text -->

          
  </div>
</div>
</body>
 <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
        }
</script>

<script>
    function randomIntFromInterval(min, max) { // min and max included 
        return Math.floor(Math.random() * (max - min + 1) + min)
    }

  
    var i = 0
    var arr = "";
     <% @writing_definitions.each do |writing_def| %>
        arr += "<%=writing_def.body%>";
        arr += ". "
     <%end%>


    console.log(arr);
    var intervalId = window.setInterval(function(){
        document.getElementById("back").innerHTML += arr[i];
        i++;
        if (i >= arr.length){
            i = 0;
            
        }
        $("back").load(" back > *");
        console.log(document.getElementById("back").innerHTML);
        
    }, 20);
</script>