<%= javascript_include_tag 'application' %>
<div id="content">
  <div id="page1" class="page">
    <div id=log><%= @logs %></div>  
  </div>
  <div id="page2" class="page">
    <h1>Créations</h1>
    <table class="center ">
     <% var = 0 %>
      <tbody>
        <tr>
          <% @writing_definitions.each do |writing_def| %>
            <% if (writing_def.writing_images.last.present?)%>
              <td>
                <div class="container w-i"; id=<%="im-"+var.to_s%>>
                  <%=image_tag (writing_def.writing_images.last.image), :size => "500x350",class: "image" %>
                    <% if (ml = (writing_def.x)).present? %>
                      <% s = "margin-left: " + (ml*500).to_s + "px" %>
                      <div class="w-d"; style=<%=s%>; data-x=<%= writing_def.x %>; data-y=<%= writing_def.y %>; data-w=<%= writing_def.w %>; data-h=<%= writing_def.h %>>
                        <%= s %>
                      </div>
                    <%else%>
                      <div class="w-d"; data-x=<%= writing_def.x %>; data-y=<%= writing_def.y %>; data-w=<%= writing_def.w %>; data-h=<%= writing_def.h %>>
                        <%= writing_def.body %>
                      </div>
                    <%end%>
                  <div class="overlay color-<%= (1..13).to_a.sample %>">
                    <div class="text2"><%=writing_def.body%> </div>
                  </div>
                </div>
              </td>
              <% var += 1 %>
              <% if var%3 == 0 %>
                </tr>
                <tr>
              <% end %>  
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>        
  </div>
</div>