<%= javascript_include_tag 'application' %>
<div id="content">
  <div id="page1" class="page">
    <div id=log><%= @logs %></div>  
  </div>
  <div id="page2" class="page">
    <h1>Créations</h1>
    <table class="center ">
     <% var = 0
        idImage = 0 
        tabId = Array.new 
        h = Hash[]
      %>
      <tbody>
        <tr>
          <% @writing_definitions.each do |writing_def| %>
            <% if (writing_def.writing_images.last.present?)%>
              <td>
                <div class="container w-i"; id=<%="im-"+var.to_s%>>
                <%if not(tabId.include?(writing_def.writing_images.last.image.id))
                    idImage+=1
                    h[writing_def.writing_images.last.image.id] = idImage
                    tabId.push(writing_def.writing_images.last.image.id)
                  end
                %>
                
                  <%= link_to image_tag(writing_def.writing_images.last.image, size: "500x350",class: "image"), home_index2_path(id:  h[writing_def.writing_images.last.image.id]) %>
                    <div class="w-d"; 
                    style=
                    "margin-left: <%=writing_def.x.present? && writing_def.x != 0 ? ((writing_def.x*500).to_s + "px") : "0px"%>;
                    margin-top: <%=writing_def.y.present? && writing_def.y != 0 ? ((writing_def.y*350).to_s + "px") : "0px"%>;
                    width: <%=writing_def.w.present? && writing_def.w != 0 ? ((writing_def.w*500).to_s + "px") : "auto"%>;
                    height: <%=writing_def.h.present? && writing_def.h != 0 ? ((writing_def.h*350).to_s + "px") : "auto"%>;
                    font-size: <%=writing_def.font_size.present? && writing_def.font_size != 0 ? ((writing_def.font_size*500/1000).to_s + "px") : "auto"%>;
                    font-family: <%=writing_def.font_family.to_s%>;"
                    >
                      <%= writing_def.body %>
                    </div>
                </div>
              </td>
              <% var += 1 %>
              <% if var%3 == 0 %>
                </tr>
                <tr>
              <% end %>  
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>        
  </div>
</div>