<%= form_with(model: writing_image) do |form| %>
  <% if writing_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writing_image.errors.count, "error") %> prohibited this writing_image from being saved:</h2>

      <ul>
        <% writing_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.file_field :image %>
    <%= form.submit "save" %>
  </div>

<% end %>
