<p id="notice"><%= notice %></p>

<h1>Writing Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writing_images.each do |writing_image| %>
      <tr>
        <td><%= link_to 'Show', writing_image %></td>
        <td><%= link_to 'Edit', edit_writing_image_path(writing_image) %></td>
        <td><%= link_to 'Destroy', writing_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Writing Image', new_writing_image_path %>
