<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">IMPORTANT</h4>
</div>
<%= form_with(model: @writing_definition, id: "finish") do |form| %>
  <%= hidden_field_tag(:id, params[:id]) %>
  <div class="modal-body">
    <div class="actions">
      <p> Would you like to sign your production? <p>
      <%= form.text_field :author_signature %> 
      
      <br>
      <p> Do you agree that we display your production on the home page so that future users can use it to create their own? <p>
      <%= form.label :author_published %> 
      <%= form.radio_button :author_published, true , checked: true%> yes
      <%= form.radio_button :author_published, false , checked: false%> no<br />
      <%= form.text_field :x , id: "x-t"%>
      <%= form.text_field :y , id: "y-t"%>
      <%= form.text_field :w , id: "w-t"%>
      <%= form.text_field :h , id: "h-t"%>
    </div>

  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"><%= form.submit "Continuer"  %></button>
  </div>
<% end %>