<%= form_with(model: writing_definition) do |form| %>
  <% if writing_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writing_definition.errors.count, "error") %> prohibited this writing_definition from being saved:</h2>
      <ul>
        <% writing_definition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <p style="text-align:center; font-size: 20px;">
    <% if @image.present? %>
      <%= hidden_field_tag(:image_id, value = @image_id) %>
    <%end%>
    <%= form.text_field :body, value: @corresponding_def %>
    <%= form.submit "Continuer"  %>
  </p>
  </div>
<% end %>
