<p id="notice"><%= notice %></p>

<div class= "exploring" >
  <% if @writing_information_text_1.present? && @writing_information_text_3.present? %>
     <div id="hidden-sub-parts-1"> 
      <div id="sub-hidden-part-1">
        <div class="sub-pointer-1">
          <%= @writing_information_text_1 %>
        </div>
      </div>
      <div id="sub-hidden-part-2">
        <div class="sub-pointer-2">
          <%= @writing_information_text_2 %>
        </div>
      </div>
      <div id="sub-hidden-part-3">
        <div class="sub-pointer-3">
          <%= @writing_information_text_3 %>
        </div>
      </div>
    </div>
  <% elsif @writing_information_text_1.present? %>
    <div id="hidden-part-1">
      <div class="pointer-1">
        <%= @writing_information_text_1 %>
      </div>
    </div>
  <% end %>

  <div class="init", style="text-align:center; font-size: 30px">
    <p style="text-align: center;"><span style="font-size: 30px;background-color: white; color: black; font-family: 'Lucida Console', 'Courier New', monospace;position:relative; z-index: 1;">Définition</span></p>
    <br>
    <div id="intro" style="font-size: 19px; color: white;font-family: 'Times New Roman';text-align: center;">
      <div>
        <div class="flag">🇫🇷</div>
        Une définition aléatoire vous est donnée<br>
        Si cette définition ne vous plaît pas, <span class= "reload-link"> rechagez!</span><br>
        Après avoir appuyer sur continuer, vous aurez la possibilité de modifier cette définition ainsi que l'image associée<br>
      </div>
      <div>
        <div class="flag">🇬🇧</div>
        A random definition is given to you<br>
        If you don't like this definition, <span class= "reload-link"> reload!</span><br>
        After pressing continue, you will have the possibility to modify this definition and the associated image<br>
      </div>
    </div>
    <br>
    <div style="margin: 10px 0">
      <div style="text-align: center;font-size: 25px;">
        <%= @corresponding_def.body%>
      </div>
      <span class= "author"> <%= @corresponding_def.author_signature %></span>
    </div>
    <% if @image.present? %>
    	<%=image_tag (@image), :size => "630x455" %>
    <% end %>
    <br>
    <%= render 'form', writing_definition: @writing_definition, class:".center" %>
  </div>

  <% if @writing_information_text_1.present? && @writing_information_text_3.present? %>
     <div id="hidden-sub-parts-2"> 
      <div id="sub-hidden-part-4">
        <div class="sub-pointer-4">
          <%= @writing_information_text_4 %>
        </div>
      </div>
      <div id="sub-hidden-part-5">
        <div class="sub-pointer-5">
          <%= @writing_information_text_5 %>
        </div>
      </div>
      <div id="sub-hidden-part-6">
        <div class="sub-pointer-6">
          <%= @writing_information_text_6 %>
        </div>
      </div>
    </div>
  <% elsif @writing_information_text_2.present? %>
    <div id="hidden-part-2">
      <div class="pointer-2">
        <%= @writing_information_text_2 %>
      </div>
    </div>
  <% end %>
</div>

<!-- Only way to correct home page interval bug  -->
<script type='text/javascript'>
  (function(){
    if( window.localStorage ) {
      if( !localStorage.getItem('firstLoad') ) {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }  
      else{
        localStorage.removeItem('firstLoad');
      }
    }
  })();
</script>