<p id="notice"><%= notice %></p>
<div class= "exploring" >
  <% if @writing_information_text_1.present? && @writing_information_text_3.present? %>
     <div id="hidden-sub-parts-1"> 
      <div id="sub-hidden-part-1">
        <div class="sub-pointer-1">
          <%= @writing_information_text_1 %>
        </div>
      </div>
      <div id="sub-hidden-part-2">
        <div class="sub-pointer-2">
          <%= @writing_information_text_2 %>
        </div>
      </div>
      <div id="sub-hidden-part-3">
        <div class="sub-pointer-3">
          <%= @writing_information_text_3 %>
        </div>
      </div>
    </div>
  <% elsif @writing_information_text_1.present? %>
    <div id="hidden-part-1">
      <div class="pointer-1">
        <%= @writing_information_text_1 %>
      </div>
    </div>
  <% end %>

  <div class="init", style="text-align:center; font-size: 20px;">
     <p style="text-align: center;"><span class="Title" style="font-size: 22px"> Définition</span></p>
    <div id="intro" style="font-size: 15px; color: white;font-family: 'Times New Roman';text-align: center;z-index:200;">
      <div style="width:300px;border: solid;border-color: white;">
        <div style="width:290px; margin: 0 auto;font-family: 'Lucida Console', 'Courier New', monospace;">
          Voici une proposition sur ce que c’est qu’écrire.<br> <br> Rechargez la page pour en obtenir une autre si vous souhaitez, appuyer sur le bouton recharger.
        </div>
      </div>
      <div style="width:300px;border: solid;border-color: white;">
        <div style="width:290px; margin: 0 auto;font-family: 'Lucida Console', 'Courier New', monospace;">
        Here is an thought about writing.<br> <br>Reload the page to get another one if you wish, then click one the reload button.
        </div>
      </div>
    </div>
    <div style="margin: 10px 0">
      <div style="text-align: center;font-size: 20px; font-weight: bold;">
        <%= @corresponding_def.body%>
      </div>
      <span class= "author"> <%= @corresponding_def.author_signature %></span>
    </div>
     <a href="javascript:window.location.href=window.location.href"><img class = "reload", src=<%=image_url('reload.jpeg')%>></a>
    <% if @image.present? %>
    	<%=image_tag (@image), :size => "570x397" %>
    <% end %>
    <%= render 'form', writing_definition: @writing_definition, class:".center" %>

  </div>

  <% if @writing_information_text_1.present? && @writing_information_text_3.present? %>
     <div id="hidden-sub-parts-2"> 
      <div id="sub-hidden-part-4">
        <div class="sub-pointer-4">
          <%= @writing_information_text_4 %>
        </div>
      </div>
      <div id="sub-hidden-part-5">
        <div class="sub-pointer-5">
          <%= @writing_information_text_5 %>
        </div>
      </div>
      <div id="sub-hidden-part-6">
        <div class="sub-pointer-6">
          <%= @writing_information_text_6 %>
        </div>
      </div>
    </div>
  <% elsif @writing_information_text_2.present? %>
    <div id="hidden-part-2">
      <div class="pointer-2">
        <%= @writing_information_text_2 %>
      </div>
    </div>
  <% end %>
 
</div>
<!-- Only way to correct home page interval bug  -->
<script type='text/javascript'>
  (function(){
    if( window.localStorage ) {
      if( !localStorage.getItem('firstLoad') ) {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }  
      else{
        localStorage.removeItem('firstLoad');
      }
    }
  })();
</script>