<p id="notice"><%= notice %></p>

<p style="text-align:center; font-size: 30px;">
<br>
<br>
<%= @writing_definition.body %> 
<br>
<br>
<br>
<br>
<% if @writing_definition.writing_images.last.present? %>
	<%=image_tag (@writing_definition.writing_images.last.image), :size => "500x350",class: "img-responsive" %>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Modifier l\'image associé ?', new_writing_image_path(def_id: @writing_definition.id) %>
<%= link_to 'Terminé', writing_definitions_path %>
<br>
</p>