<div class = "show-container">
	<div class = "definition-container">
		<% if @writing_definition.writing_images.last.present? %>
			<div id="writing-image">
				<%=image_tag (@writing_definition.writing_images.last.image), :size => "1000x700",class: "img-responsive", id: "writing-image-ele" %>
				<div id="draggable-element"; 
				class="wd"; 
				data-x=<%= @writing_definition.x %>; 
				data-y=<%= @writing_definition.y %>; 
				data-w=<%= @writing_definition.w %>; 
				data-h=<%= @writing_definition.h %>; 
				style=
				"font-size: <%=@writing_definition.font_size.to_s+"px"%>; 
				font-family: <%=@writing_definition.font_family.to_s%>;";
				>
					  <div class="wd-header noselect"></div>
					<%= @writing_definition.body %>
				</div>
			</div>
		<% end %>
		<div class = "definition-edit">
			<%= form_with(model: @writing_definition, id: "update") do |form| %>
		  	<%= hidden_field_tag(:not_finish_yet, true) %>
		    <div class="actions">
		      <h2> Would you like to edit your definition? </h2>
		      <%= form.text_area(:body, rows: 5, cols:40) %>
		      <%= form.text_field :x , id: "x"%>
		      <%= form.text_field :y , id: "y"%>
		      <%= form.text_field :w , id: "w"%>
		      <%= form.text_field :h , id: "h"%>
		      <h2> font size: </h2>
		      <%= form.text_field :font_size , id: "font-size"%>
		      <div style="font-size: <%=@writing_definition.font_size.to_s+"px"%>; font-family: <%=@writing_definition.font_family.to_s%>"> <%=@writing_definition.body%> </div>
		      <h2> font family: </h2>
      		<%= form.text_field :font_family , id: "font-family"%>
		      <br>
		      <%= form.submit %>
		    </div>
			<% end %>
			<br>
			<%= form_with(model: @writing_definition, id: "update") do |form| %>
		  	<%= hidden_field_tag(:not_finish_yet, true) %>
		    <div class="actions">
		      <%= form.text_field :x , id: "x0", value: 0%>
		      <%= form.text_field :y , id: "y0", value: 0%>
		      <%= form.submit "Reset the position" %>
		    </div>
			<% end %>
			<br>
			<%= form_with(model: @writing_definition, id: "update") do |form| %>
		  	<%= hidden_field_tag(:not_finish_yet, true) %>
		    <div class="actions">
		      <%= form.text_field :w , id: "w0", value: 0%>
		      <%= form.text_field :h , id: "h0", value: 0%>
		      <%= form.submit "Reset size" %>
		    </div>
			<% end %>
		</div>
	</div>

	<%= link_to 'Modifier l\'image associée ?', new_writing_image_path(def_id: @writing_definition.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'link'}  %>

	<%= link_to 'Terminé', edit_writing_definition_url(@writing_definition),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'link'}  %>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<br>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
