<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "TX", admins_root_url, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="t" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <%= link_to 'Writing_definitions', admins_writing_definitions_path, class:"nav-link" %></li>
        <li class="nav-item"> <%= link_to 'Writing_images', admins_writing_images_path, class:"nav-link" %></li>
        <li class="nav-item"> <%= link_to 'Writing_informations', admins_writing_informations_path, class:"nav-link" %></li>
        <li class=admin-align-right>
          <% if admin_signed_in? %>
            <div class="navbar-brand">Logged in as <strong><%= current_admin.email %></strong>.</div>
            <br>
            <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
