<!doctype html>
<html lang="en">

  <head>
    <title>Writing is</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/mistral" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/bodoni" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/cooper-black" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/futura" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/transport" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/comic-sans" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/binary" rel="stylesheet">

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= javascript_include_tag 'application' %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body style=" background-color: #171515;" id="<%= controller.controller_name + "_" + controller.action_name %>">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= render 'home/header' unless controller.controller_name == "registrations" || controller.controller_name == "sessions"%>
    <%= yield %>
  </body>
</html>
